<%= form_for(@user, url: feed_update_path(@user), html: {method: "patch"}) do |f| %>
  <div class="field">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <div class="tags">
    <%= f.label "Ваши теги: "%>
    <%= f.collection_select :all_tags, Tag.order(:name), :id, :name, {}, {multiple: true} %>
  </div>
  <%= f.button :submit %>
<% end %>
