<h1>Sources</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td style="width: 30px;" class="col-md-1">Source</td>
      <td style="max-width: 300px; width: 300px; word-wrap: break-word;" class="col-md-5">Reference URL</td>
      <td class="col-md-2">Source ext_id</td>
      <td class="col-md-2">City</td>
      <th colspan="3" class="col-md-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.source_type.name %></td>
        <td style="max-width: 600px; width: 600px; word-wrap: break-word;"><%= source.ref %></td>
        <td><%= source.ext_id %></td>
        <td><%= source.city.name %></td>
        <td><%= link_to 'Show', admin_source_path(source), class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Edit', edit_admin_source_path(source), class: 'btn btn-xs btn-warning' %></td>
        <td><%= link_to 'Destroy',
                        admin_source_path(source),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source', new_admin_source_path, class: 'btn btn-primary' %>
