<!DOCTYPE html>
<html>
  <head>
    <%= site_title %>
    <%= meta_description %>
    <%= meta_viewport %>
    <%= og_title %>
    <%= og_description %>
    <%= og_image %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <%= sidenav do %>
    <%- end  %>
    <%= pusher do %>
      <%= navbar do %>
        <%= content_tag :aside, class: 'header-left' do %>
          <%= sidebar_toggle %>
          <%= app_header %>
          <%= city_select %>
        <%- end %>
        <%= content_tag :aside, class: 'header-right' do %>
          <%= search_form %>
          <%= auth_panel %>
        <%- end %>
      <%- end  %>

      <%= container('m-t-70') { yield } %>
    <%- end  %>
    <%= on_top_button %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
