<!DOCTYPE html>
<html>
  <head>
    <title>Centr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= sidenav do %>
      <ul>
        <li>
          <a href="" class="parent-link">IT</a>
          <ul class="clildren-list">
            <li>
              <a href="#" class="child-link">
                Разработка
              </a>
            </li>
            <li>
              <a href="#" class="child-link">
                Дизайн
              </a>
            </li>
            <li>
              <a href="#" class="child-link">
                Стантапы
              </a>
            </li>
            <li>
              <a href="#" class="child-link">
                Менеджмент
              </a>
            </li>
          </ul>
        </li>
      </ul>
    <%- end  %>
    <%= pusher do %>
      <%= navbar do %>
        <%= content_tag :aside, class: 'header-left' do %>
          <%= sidebar_toggle %>
          <%= app_header %>
          <%= city_select %>
        <%- end %>
        <%= content_tag :aside, class: 'header-right' do %>
          <%= search_form %>
          <%= auth_panel %>
        <%- end %>
      <%- end  %>
  
      <%= container('m-t-70') { yield } %>
    <%- end  %>
  </body>
</html>
