<!DOCTYPE html>
<html>
  <head>
    <title>Centr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= navbar 'Центр', {события: events_path, категории: '#', организаторы: '#'} do %>
      <%= link_to content_tag(:i, '', class: 'fa fa-vk'), user_vkontakte_omniauth_authorize_path %>
      <%= link_to content_tag(:i, '', class: 'fa fa-facebook-square'), user_facebook_omniauth_authorize_path %>
    <%- end %>

    <%= container('m-t-70') {
      events_timeline +
      yield
    } %>
  </body>
</html>
