<!DOCTYPE html>
<html>
  <head>
    <title>Centr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= navbar 'Центр', {события: events_path, категории: '#', организаторы: '#'} { navbar_auth } %>

    <%= container('m-t-70') { yield } %>
  </body>
</html>
